.cart-wrapper{
    padding: 20px;
}
.cart-wrapper .cart-title{
    text-align: center;
    font-family: inherit;
    font-weight: 500;
    font-size: xxx-large;
}
.cart-top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}
.cart-top button{
    padding: 10px;
    font-weight: 600;
    cursor: pointer;
}
#continue{
    background-color: transparent;
    color: black;
}
#checkout{
    background-color: black;
    color: white;
}
.top-texts span{
    cursor: pointer;
    margin: 0 10px;
}
.cart-bottom{
    display: flex;
    justify-content: space-between;

}
.cart-info{
    flex: 3;
}
.cart-product{
    display: flex;
    justify-content: space-between;
}
.cart-productDetails{
    flex: 2;
    display: flex;
    justify-content: space-evenly;
}
.cart-productDetails img{
    width: 200px;
}
.cart-productDetails .details{
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    letter-spacing: 3px;
}
.cart-productDetails span{
    font-size: 20px;
    
}
.cart-productDetails .prod-color{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: grey;
}
.cart-priceDetails{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.prod-amountContainer{
    display: flex;
    align-items: center;
    margin-bottom: 20px;

}
 .prod-price{
    font-size: 30px;
    font-weight: 200;
}
.prod-amount{
    font-size: 24px;
    margin: 10px;
}
.cart-summary{
    flex: 1;
    border: 0.5px solid lightgray;
    border-radius: 10px;
    padding: 20px;
    height: 55vh;
    margin-top: 35px;
}
.cart-summary h1{
    font-weight: 200;
    font-family: unset;
}
.summary-item{
    font-size: 18px;
    margin: 30px 0;
    display: flex;
    justify-content: space-between;
}
#total-price{
    font-weight: 500;
    font-size: 28px;
}
.cart-summary button{
    width: 100%;
    padding: 15px;
    background-color: black;
    color: white;
    cursor: pointer;

}
.cart-summary button:hover{
    transform: scale(1.01);
    font-weight: bold;
}