.prods-container{
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
@media only screen and (max-width: 1110px){
    .prods-container{
        justify-content: space-evenly;
    }
}