.cat-container{
    display: flex;
    flex-direction: row;
    padding: 20px;
    justify-content: space-between;
    background-color: rgb(231, 229, 252);
}
@media only screen and (max-width: 1110px) {
    .cat-container{
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
}