.main-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}
#prod-Details{
    background-color: rgb(220, 246, 248);
    left: 2%;
    top: 2%;
    margin: 0;
}
.prod-wrapper{
    padding: 50px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 90vh;
}
.prod-ImgContainer{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.prod-ImgContainer img{
height: 100%;
object-fit: cover;

}
.prod-InfoContainer{
    width: 50%;
    padding: 0 50px;
}
.prod-InfoContainer h1{
    font-weight: 400;
    font-family: inherit;
}
.prod-InfoContainer p{
    margin: 20px 0px;
    font-weight: 200;
    
}
.prod-InfoContainer hr{
    display: none;
}

.prod-InfoContainer span{
    font-weight: 100;
    font-size: 40px;
}
.prod-InfoContainer .filter-container{
    width: 100%;
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.filter-container .prod-filter{
    display: flex;
    align-items: center;
}
.prod-filter span{
    font-size: 20px;font-weight: 200;
}
.prod-filter .filter-color{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
}
#black{
    background-color: black;
}
#blue{
    background-color: blue;
}
#grey{
    background-color: grey;
}
.prod-filter select{
    margin-left: 10px;
    padding: 5px;
    outline: none;
}
.add-container{
    margin-top: 15%;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}
.add-container button{
    width: 49%;
    padding: 15px;
    border: 2px solid teal;
    background-color: white;
    cursor: pointer;
    font-weight: 500;
    font-family: inherit;
}
.add-container button:hover{
    background-color: aliceblue;
}
.amount-container{
    display: flex;
    align-items: center;
    font-weight: 700;
    width: 110px;
}
.amount-container i{
    margin: 0 5px;
    color: teal;
    cursor: pointer;
}
.amount-container span{
    width: 30px;
    height: 30px;
    border-radius: 10px;
    border: 1px solid teal;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 5px;
    font-weight: 100;
    font-size: 20px;
}
.buy-prod{
    margin-top: 3%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.buy-prod button{
    width: 100%;
    background-color: teal;
    color: white;
    border: 1px solid teal;
    padding: 15px;
    cursor: pointer;
}
.buy-prod button:hover{
    font-weight: 500;
}
.prod-review{
    display: flex;
    flex-direction: column;
    height: fit-content;
    padding: 20px;
    width: 90%;
    margin: 30px 0;
    border: 1px solid rgb(212, 208, 208);
}
.review{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
}
.prod-review h2{
    margin: 10px;
    font-family: inherit;   
}
.rating i{
    font-size: 25px;
    margin: 0 3px;
}
.rating span{
    font-size: 20px;
    color: rgb(153, 150, 150);
    margin: 0 10px;
}
.review button{
    padding: 5px;
    background: transparent;
    cursor: pointer;
    color: rgb(68, 68, 68);
    border: rgb(68, 68, 68);;
    border: 1px solid grey;
}
.review button:hover{
    color: rgb(80, 78, 78);
    background-color: rgb(241, 238, 238);
}
@media only screen and (max-width: 1110px){
    .prod-wrapper{
        height: auto;
        width: 100vw;
    }
    .prod-ImgContainer {
        width: auto;
        height: 55vh;
    }
    .prod-InfoContainer h1 {
        font-size: 34px;
    }
    .prod-InfoContainer {
        width: 100%;
        text-align: center;
    }
    .prod-InfoContainer span {
        font-size: 36px;
    }
    .prod-InfoContainer .filter-container span, .rating span{
        font-size: 16px;
    }
    .prod-InfoContainer hr{
        display:block;
        margin: 40px 0;
    }
    .add-container {
        margin-top: 0;
    }
    .add-container button {
        font-size: 14px;
        padding: 12px;
    }
    .prod-filter select {
        font-size: 14px;
    }
    .buy-prod, .review button {
        font-size: 14px;
    }
    .prod-review{
        margin-top: 0;
        padding: 15px;
        width: 75%;
    }
    .prod-review h2 {
        font-size: 22px;
        margin-top: 0;
    }
    .rating i {
        font-size: 20px;
    }
}
@media only screen and (max-width: 800px){
    .prod-wrapper {
        padding: 40px;
    }
    .prod-ImgContainer {
        height: 45vh;
    }
    .prod-ImgContainer img{
        max-width: 100%;
        max-height: 100%;
    }
    .prod-InfoContainer{
        padding: 0 30px;
    }
    .prod-InfoContainer h1 {
        font-size: 30px;
        margin-top: 20px;
    }
    .prod-InfoContainer p, .prod-InfoContainer .filter-container span, .rating span {
        font-size: 14px;
    }
    .prod-InfoContainer span {
        font-size: 32px;
    }
    .prod-InfoContainer .filter-container{
        flex-direction: row;
    }
    .prod-filter .filter-color {
        width: 15px;
        height: 15px;
    }
    .prod-filter select {
        font-size: 12px;
    }
    .add-container button, .buy-prod button {
        font-size: 12px;
        padding: 10px;
    }
    .prod-review{
        width: 80%;
    }
    .prod-review h2 {
        font-size: 20px;
        margin: 0;
    }
    .review{
        padding: 0;
    }
    .rating i {
        font-size: 17px;
    }
    .buy-prod, .review button {
        font-size: 12px;
    }
}
@media only screen and (max-width: 500px){
    .prod-wrapper {
        padding: 30px 25px;
    }
    .prod-ImgContainer {
        height: 35vh;
        width: 90vw;
        align-items: center;
    }
    .prod-ImgContainer img{
        max-width: 90%;
        max-height: 90%;
    }
    .prod-InfoContainer {
        padding: 0 20px;
    }
    .prod-InfoContainer h1 {
        font-size: 26px;
        margin-top: 10px;
    }
    .prod-InfoContainer .filter-container {
        justify-content: space-around;
    }
    .prod-InfoContainer p, .prod-InfoContainer .filter-container span, .rating span {
        font-size: 12px;
    }
    .prod-InfoContainer span {
        font-size: 28px;
    }
    .filter-container .prod-filter {
        width: 50%;
    }
    #prod-filter-color{
        justify-content: flex-start;
    }
    #prod-filter-size{
        justify-content: flex-end;
    }
    .prod-InfoContainer hr {
        margin: 20px 0;
    }
    .amount-container {
        order: 3;
        width: auto;
        margin-top: 20px;
    }
    .add-container button, .buy-prod button {
        font-size: 10px;
        padding: 5px;
    }
    .prod-review {
        padding: 15px 10px;
        width: 90%;
    }
    .prod-review h2 {
        font-size: 16px;
        margin: 0;
    }
    .rating i {
        font-size: 10px;
        margin: 0 2px;
    }
    .rating span{
        margin: 0 5px;
    }
    .review button {
        font-size: 10px;
    }
    
    
}