.filter-parent h1{
    margin: 20px;
    font-weight: 600;
    font-family: monospace;
}
.filter-container{
    display: flex;
    justify-content: space-between;
}
.filter{
    margin: 20px;
}
.filter span{
    font-size: 20px;
    font-weight: 400;
    margin-right: 20px;
}
.filter select{
    padding: 10px;
    margin: 20px;

}
@media only screen and (max-width: 800px){
    .filter-container{
        flex-direction: column;
    }
    .filter{
        margin: 0 20px;
    }
}
@media only screen and (max-width: 600px){
    .filter span {
        font-size: 16px;
        margin-right: 5px;
    }
    .filter select {
        padding: 5px;
        margin: 10px;
    }
}
@media only screen and (max-width: 450px){
    .filter-parent h1{
        margin-bottom: 0;
    font-size: 25px;
    }
    .filter span{
        font-size: 12px;
    }
    .filter select {
        padding: 2px;
        margin: 5px;
        font-size: 11px;
    }
}
