.cat-item-container{
    flex: 1;
    margin: 3px;
    height: 70vh;
    position: relative;
}
.cat-item-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.cat-info{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.cat-info h1{
    color: white;
    margin-bottom: 20px;
}
.cat-info button{
    border: none;
    padding: 10px;
    cursor: pointer;
    background-color: white;
    color: grey;
    font-weight: 500;
}
