.cat-item-container{
    flex: 1;
    margin: 3px;
    height: 70vh;
    position: relative;
  
}
.cat-item-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.cat-info{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.cat-info h1{
    color: white;
    margin-bottom: 20px;
    font-family: monospace;
    font-weight: 700;
}
.cat-info button{
    border: none;
    padding: 10px;
    cursor: pointer;
    background-color: white;
    color: grey;
    font-weight: 500;
    border-radius: 5%;
}
.cat-info button:hover{
    color: rgb(85, 84, 84);
    transition: all 0.6s ease;
    transform: scale(1.05);
}
@media only screen and (max-width: 1110px) {
    .cat-item-container{
        flex:none ;
        width: 45vw;
        height: 48vh;
        margin: 5px 0;
    }
}
