.reg-container{
width: 100vw;height: 100vh;
background: linear-gradient(rgba(255,255,255,0.5),
        rgba(255,255,255,0.5)),
        url("https://img.freepik.com/free-photo/two-young-beautiful-blond-smiling-hipster-women-trendy-summer-clothes-sexy-carefree-women-posing-near-blue-wall-sunglasses-positive-models-going-crazy-hugging_158538-7650.jpg?w=1060") center no-repeat;
    background-size: cover;
     display: flex;
    align-items: center;
    justify-content: center;
    
}
.go-back{
    background-color: rgb(255, 255, 255);
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    position: absolute;
    margin: 3% 0 0 5%;
    cursor: pointer;
    transition: all 1s ease;
}
.go-back:hover i{
    transform: scale(1.1);
}
.reg-wrapper{
    width: 40%;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.6);
    transition: all 1s ease;
    
}
.reg-wrapper:hover{
    background-color: white;
    
}
.reg-wrapper h1{
    font-size: 28px;
        font-weight: 500;
        font-family: inherit;
       
}
.reg-wrapper form{
    display: flex;
    flex-wrap: wrap;
    
}
.reg-wrapper form input{
    flex: 1;
    min-width: 40%;
    margin: 20px 10px 0px 0px;
    padding: 10px;
    outline-color: teal;
}
.agreement{
    font-size: 12px;
    margin: 20px 0px;
    
}
.agreement b{
    cursor: pointer;
}
.agreement b:hover{
    text-decoration: underline;
}
.reg-wrapper form button{
    width: 40%;
    border: none;
    padding: 15px 20px;
    background-color: teal;
    color: white;
    cursor: pointer;
    
}
.reg-wrapper form button:hover{
    font-weight: 500;
}
@media only screen and (max-width: 1200px){
    .reg-wrapper{
        width: 50%;
    }
    .reg-wrapper form button {
        font-size: 14px;
    }
}
@media only screen and (max-width: 900px){
    .reg-wrapper {
        width: 65%;
    }
    .reg-wrapper h1 {
        font-size: 26px;
    }
    .reg-wrapper form input{
        margin-top: 15px;
        font-size: 14px;
    }
    .agreement{
        margin: 15px 0;
    }
    .reg-wrapper form button {
        width: 45%;
    }
}
@media only screen and (max-width: 620px){
    .reg-wrapper {
        width: 80%;
    }
    .reg-wrapper h1 {
        font-size: 22px;
    }
    .reg-wrapper form input {
        margin-top: 10px;
        margin-right: 5px;
        padding: 5px 5px;
        font-size: 12px;
    }
    .agreement{
        font-size: 10px;
    }
    .reg-wrapper form button {
        padding: 10px 15px;
        font-size: 12px;
    }
}
@media only screen and (max-width: 450px){
    .reg-wrapper form{
        flex-direction: column;
    }
    .reg-wrapper h1 {
        font-size: 20px;
        
    }
    .reg-wrapper form input{
        width: 100%;
    }
    .reg-wrapper form{
        align-items: center;
    }
    .reg-wrapper form button {
        padding: 10px 10px;
        width: 70%;
        font-size: 11px;
    }
    .go-back {
        height: 30px;
        width: 30px;
    }
    .go-back i{
        font-size: 12px;
    }
}