.footer-container{
    display: flex;
    
}
.footer-container .left{
    flex: 1;
    display: flex;flex-direction: column;
    padding: 20px;
}
.footer-container .left h1{
    font-family: inherit;
    font-weight: bold;
}
.social-container {
    display: flex;
    flex-direction: row;
    
}
.social-container .social-icon{
    width: 40px;height: 40px;
    border-radius: 50%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    cursor: pointer;
    
}
#fb{
    background-color: #4267B2;
}
#ig{
    background-color: #a10c39;
}
#tw{
    background-color: #00acee;
}
#pt{
    background-color: #E60023;
}
.footer-container .left .desc{
    margin: 20px 0;
    font-weight: 100;
}
.footer-container .footer-center{
    flex: 1;
    padding: 20px;
}
.footer-center h3, .right h3{
    margin-bottom: 30px;
    font-weight: 500;
    font-family: inherit;
}
.footer-center ul{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}
.footer-center li{
    font-weight: 100;
    width: 50%;
    margin-bottom: 10px;
    cursor: pointer;
}
.footer-container .right{
    flex: 1;
    padding: 20px;
}
.contact-item{
    font-weight: 100;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}
.contact-item i{
    margin-right: 10px;
}
.right .payment{
    width: 30%;
}
@media only screen and (max-width: 800px){
    .footer-container{
        flex-direction: column;
    }
}