.login-container{
    width: 100vw;height: 100vh;
    background: linear-gradient(rgba(255,255,255,0.5),
            rgba(255,255,255,0.5)),
            url("https://img.freepik.com/free-photo/two-young-beautiful-smiling-hipster-female-trendy-white-sweater-coat_158538-16941.jpg?w=996") center no-repeat;
        background-size: cover;
         display: flex;
        align-items: center;
        justify-content: center;
        
    }
    .login-wrapper{
        width: 25%;
        padding: 20px;
        background-color: rgba(255, 255, 255, 0.6);
        transition: all 1s ease;
        
    }
    .login-wrapper:hover{
        background-color: white;
        
    }
    .login-wrapper h1{
        font-size: 28px;
        font-weight: 500;
        font-family: inherit;
        text-align: center;
    }
    .login-wrapper form{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        
    }
    .login-wrapper form input{
        flex: 1;
        /* min-width: 40%; */
        width: 100%;
        margin: 10px 0;
        padding: 10px;
        outline-color: teal;
    }
    .login-wrapper form button{
        width: 40%;
        border: none;
        padding: 15px 20px;
        background-color: teal;
        color: white;
        cursor: pointer;
        margin: 10px 0;
       
    }
    .login-wrapper form button:hover{
        font-weight: 500;
    }
    .login-wrapper form a{
        font-family: unset;
        margin: 5px 0px;
        font-size: 12px;
        text-decoration: none;
        cursor: pointer;
    }
    .login-wrapper form a:hover{
        text-decoration: underline;
    }
    @media only screen and (max-width: 1200px) {
        .login-wrapper{
            width: 40%;
        }
    }
    @media only screen and (max-width: 800px) {
        .login-wrapper{
            width: 50%;
        }
    }
    @media only screen and (max-width: 600px) {
        .login-wrapper{
            width: 65%;
        }
        .login-wrapper form button{
            padding: 10px 15px;
        }
    }
    @media only screen and (max-width: 350px){
        .login-wrapper {
            width: 85%;
        }
        .login-wrapper h1 {
            font-size: 25px;
        }
        .login-wrapper form input{
            padding: 5px 5px;
            font-size: 12px;
        }
        .login-wrapper form button {
            width: 50%;
            font-size: 12px;
        }
        .login-wrapper form a {
            font-size: 10px;
        }
    }