.announ-container{
    height: 30px;
    background-color: teal;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: 500;
}
@media only screen and (max-width: 600px){
    .announ-container{
        font-size: 13px;
    }
}
@media only screen and (max-width: 500px){
    .announ-container{
        font-size: 12px;
    }
}
@media only screen and (max-width: 400px){
    .announ-container{
        font-size: 10px;
    }
}